BASE_URL=https://api-zold.zold.in/api
RAZORPAY_KEY=rzp_test_xxxxxxxxxxxx
RISK_DISCLOSURE_PDF_URL=https://example.com/risk-disclosure.pdf
CONNECT_TIMEOUT=30000
RECEIVE_TIMEOUT=30000
PRIVACY_POLICY_URL=https://zold-frontend-mzjh.vercel.app/privacy-policy
WEB_URL=https://zold-frontend-mzjh.vercel.app
