.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/
android/.gradle/
android/local.properties
android/app/build/
.env
.env.*
!.env.example
.idea/
.vscode/
*.log
*.iml
*.class
*.apk
*.aab
